ShowRSS to Real Debrid.json
{
  "name": "ShowRSS",
  "nodes": [
    {
      "parameters": {},
      "id": "301ba178-156f-49ef-a4b2-c4c427cabf65",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        480,
        240
      ]
    },
    {
      "parameters": {
        "url": "=https://joinjoaomgcd.appspot.com/_ah/api/messaging/v1/sendPush?apikey=[xxx]&title=ShowRSS&text={{$json[\"title\"]}}&icon=https%3A%2F%2Fshowrss.info%2Fasset%2Flogo.png&url={{$json[\"magnet\"]}}&deviceId=group.phone",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1220,
        380
      ],
      "id": "83efe016-3d53-4f31-b60d-7f15fc718152"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "10 10-22 * * *"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        480,
        380
      ],
      "id": "cb5e5346-99b6-43cb-a4ba-f0461259d7c5"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newEpisodeIds = items.map(item => item.json[\"id\"]);\nconst oldEpisodeIds = staticData.oldEpisodeIds; \n\nif (!oldEpisodeIds) {\n  staticData.oldEpisodeIds = newEpisodeIds;\n  return items;\n}\n\nconst actualNewEpisodeIds = newEpisodeIds.filter((id) => !oldEpisodeIds.includes(id));\nconst actualNewEpisode = items.filter((data) => actualNewEpisodeIds.includes(data.json['id']));\nstaticData.oldEpisodeIds = [...actualNewEpisodeIds, ...oldEpisodeIds];\n\nreturn actualNewEpisode; "
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1020,
        380
      ],
      "id": "818ce674-7f39-4b63-9455-2548ab350bd6"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{$json[\"title\"]}}"
            },
            {
              "name": "magnet",
              "value": "={{$json[\"link\"]}}"
            },
            {
              "name": "id",
              "value": "={{$json[\"guid\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        840,
        380
      ],
      "id": "2ab2d726-f20f-4a10-933c-aa99ff7c93af"
    },
    {
      "parameters": {
        "url": "https://showrss.info/user/XXX.rss?magnets=true&namespaces=true&name=clean&quality=null&re=no"
      },
      "name": "Read ShowRSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        660,
        380
      ],
      "id": "5a6dfc98-bff2-4b09-80b6-8730f428c112"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.real-debrid.com/rest/1.0/torrents/addMagnet",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer XXX"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "magnet",
              "value": "={{ $json[\"magnet\"] }}"
            },
            {
              "name": "dn",
              "value": "={{ $json[\"dn\"] }}"
            },
            {
              "name": "tr",
              "value": "={{ $json[\"tr\"] }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 500
            }
          }
        }
      },
      "id": "a8f7bfba-0509-4244-895b-d3276f8ab0d1",
      "name": "Add Magnet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1220,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.real-debrid.com/rest/1.0/torrents/selectFiles/{{ $json[\"torrentID\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer XXX"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "files",
              "value": "={{ $json[\"filedID\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "db42b082-884e-41c9-a716-545dd13fd650",
      "name": "Select Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2320,
        500
      ],
      "notes": "curl -H \"Authorization: Bearer XXX\" --request POST \"https://api.real-debrid.com/rest/1.0/torrents/selectFiles/XXX\" -d \"files=1\""
    },
    {
      "parameters": {
        "url": "=https://api.real-debrid.com/rest/1.0/torrents/info/{{ $json[\"id\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer XXX"
            }
          ]
        },
        "options": {}
      },
      "id": "5fa6259f-4b4d-48ae-8484-b6c636f02ff7",
      "name": "Get Torrent Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1400,
        580
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=files",
        "options": {}
      },
      "id": "e2c63063-2131-478a-af6e-7ba773458655",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1580,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"bytes\"] }}",
              "operation": "larger",
              "value2": 100000000
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "fb2c1f95-3a67-450a-8f58-03c240068d75",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1760,
        660
      ]
    },
    {
      "parameters": {},
      "id": "d3946a31-269f-45c5-b3df-8bcef52311df",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1940,
        720
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "torrentID",
              "value": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2f3b139f-cc7b-43dd-83d6-ddd4a322d48a",
      "name": "Torrent ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1580,
        520
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "filedID",
              "value": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "23dd0ac1-78e7-4e4f-b38a-46ad6c1ea8ec",
      "name": "File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1940,
        580
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "99a7e351-88b7-41c4-9b6e-922695749c5f",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2120,
        520
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Read ShowRSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read ShowRSS Feed": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Magnet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Magnet": {
      "main": [
        [
          {
            "node": "Get Torrent Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Torrent Info": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Torrent ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "File ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Torrent ID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File ID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Select Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300,
    "saveExecutionProgress": "DEFAULT"
  },
  "versionId": "ddd8987b-5e1f-4003-9b8d-d8682d08a465",
  "id": "7",
  "meta": {
    "instanceId": "58096112a1ccefc21a24f50e381a72aabdf36902667a253f24c824646258cba4"
  },
  "tags": []
}